<div class="row">
  <div class="col-md-3">
    <div class="row" role="navigation">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
          <a href="/tops" >Top</a>
        </li>
        <li role="presentation">
            <a href="/bottoms">Bottom</a>
        </li>
        <li role="presentation">
          <a href="/dresses">Dresses</a>
        </li>
        <li role="presentation">
          <a href="/feet">Feet</a>
        </li>
        <li role="presentation" >
          <a href="/accessories">Accessories</a>
        </li>
      </ul>
    </div>
  </div>
</div>
