<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Home Page
      <small>sub-text</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div id="sidebar-wrapper" class="row">
      <ul class="table">
        <li>
          <a href="/tops">Top</a>
        </li>
        <li>
          <a href="/bottoms">Bottom</a>
        </li>
        <li>
          <a href='/dresses'>Dresses</a>
        </li>
        <li>
          <a href="/feet">Feet</a>
        </li>
        <li>
          <a href="/accessories">Accessories</a>
        </li>
      </ul>
    </div>
  </div>
</div>