<div class="row">
  <%= link_to 'New Dress', 'dresses/new' %>
</div>

<div class="row">
    <% @dresses.each do |d| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
            <%= image_tag d.image, :align => 'middle'%>
              <h3 align="center">
                <a href="#"><%= d.name %></a>
              </h3>
            <p align="center"> <%= d.season %> </p>
            </div>
          </div>
      <% end %>
  </div>

</div>
</div>


