<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dresses
      <small>mid season</small>
    </h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <% @dresses.each do |d| %>
          <div class="col-md-4">
            <%= image_tag d.image, :align => 'middle'%>
              <h3 align="center">
                <a href="#"><%= d.name %></a>
              </h3>
            <p align="center"> <%= d.season %> </p>
          </div>
      <% end %>
  </div>
</div>
</div>


